/* src/components/FeederDashboard.css */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  background-color: #f4f7f6;
  min-height: 100vh;
}

.dashboard-container.error {
  color: #d8000c;
  background-color: #ffbaba;
}

.dashboard-title {
  color: #2c3e50;
  margin-bottom: 40px;
}

.gauge-container {
  padding: 20px;
}

.gauge-body {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
  border: 10px solid #d4d4d4;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gauge-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3498db;
  transition: height 0.5s ease-in-out;
}

.gauge-cover {
  font-size: 3em;
  font-weight: bold;
  color: #2c3e50;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 40px;
  border-radius: 10px;
}

.dashboard-info {
  text-align: center;
  margin-top: 20px;
}

.dashboard-info h2 {
  color: #2980b9;
}

.dashboard-info p {
  color: #7f8c8d;
  font-size: 0.9em;
}

.error-message {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #d8000c;
  width: 80%;
  text-align: center;
}

.theme-toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px; /* Ajustado para ícones */
  border-radius: 50%; /* Botão redondo para ícones */
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  display: flex; /* Para centralizar o ícone */
  align-items: center;
  justify-content: center;
  width: 40px; /* Tamanho fixo para o botão do ícone */
  height: 40px; /* Tamanho fixo para o botão do ícone */
}

.theme-icon {
  width: 24px; /* Tamanho do ícone */
  height: 24px; /* Tamanho do ícone */
}


/* Estilos para o Dark Mode (ajustar o botão se necessário) */
.dashboard-container.dark .theme-toggle-button {
  background-color: #34495e;
  color: #ecf0f1;
  border: 1px solid #2c3e50;
}

/* Estilos para o Dark Mode */
.dashboard-container.dark {
  background-color: #2c3e50;
  color: #ecf0f1;
}

.dashboard-container.dark .dashboard-title {
  color: #ecf0f1;
}

.dashboard-container.dark .gauge-body {
  background-color: #34495e;
  border: 10px solid #2c3e50;
}

.dashboard-container.dark .gauge-cover {
  color: #ecf0f1;
  background-color: rgba(44, 62, 80, 0.7);
}

.dashboard-container.dark .dashboard-info h2 {
  color: #3498db;
}

.dashboard-container.dark .dashboard-info p {
  color: #bdc3c7;
}

.dashboard-container.dark .theme-toggle-button {
  background-color: #34495e;
  color: #ecf0f1;
  border: 1px solid #2c3e50;
}

.error-message {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #d8000c;
  width: 80%;
  text-align: center;
}